{{ partial "header.html" . }}

<div class="post-navbar">
  <table width="100%" style="margin:0; padding:0;">
    <tr>
      <td widht="50%">
        blog @ <a href="http://johnemmons.com">johnemmons.com</a>
      </td>
      <td style="text-align:right;" widht="50%">
        <a href="{{ .Site.BaseURL}}">back to homepage</a>
      </td>
    </tr>
  </table>
</div>

<div class="post-title">
  <h2>{{ .Title }}</h2>
  <div class="time">{{ .Date.Format "January 2, 2006" }}</div>
</div>

<div class="post-abstract">
  {{ .Description }}
</div>

<div class="post-text">
  {{ .Content }}
</div>

{{ partial "footer.html" . }}
