.post-abstract {
    color: rgb(15,15,25);

    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.post-text {
    color: rgb(15,15,25);
    padding-bottom: 50px;
}

.post-navbar {
    color: black;
    border-bottom: 1px dotted black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.post-title {
    padding-bottom: 10px;
}

.homepage-banner {
    color: black;

    border-style: solid;
    border-width: 10px;
    border-radius: 20px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.time {
    color: black;
}

a:link {
    color: #222266;
}

a:visited {
    color: #222266;
}

a:hover {
    color: blue;
}

a:active {
    color: blue;
}

h1, h2, h3, h4, h5 {
    color:black;
    font-family: 'Lato', sans-serif;
}
p, div {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: disc;
    list-style-position: outside;
    margin-left: 40px;
}

li {
    list-style: disc;
    list-style-position: outside;
    margin: 0 0 0 0;
}

.container{
    max-width: 768px;
}

.itemhead {
    font-weight: bold;
    font-size: 13pt;    
}

.sechead {
    font-weight: bold;
    font-size: 15pt;
}

sechead span {
    margin-top: -10px;
    padding-bottom: 10px;
    display: block;
}