<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>

    <link href="{{ .Site.BaseURL }}static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ .Site.BaseURL }}static/css/customv2_2.css" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ .Site.BaseURL }}static/imgs/favicon.ico" rel="Shortcut Icon" />
    <link href="{{ .Site.BaseURL }}static/css/Lato.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="{{ .Site.BaseURL }}static/imgs/faviconv2_1.ico">
</head>
<body>
  <div class="container">
