{{ partial "header.html" . }}


<div class="homepage-banner">
  <br />
  <h1 style="text-align: center;">blog @ <a href="http://johnemmons.com">johnemmons.com</a></h1>
  <p style="text-align: center;padding-left:10px;padding-right:10px;">A no-frills blog about my life and work as a PhD student</p></br>
</div>
<br />
    
{{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
{{ range $paginator.Pages }}
{{ partial "summary.html" . }}
{{ end }}

<div class="time"> Last updated: {{ .Now.Format "January 2, 2006" }} </div>

{{ partial "footer.html" . }}
